# extracted_responses
-output/experiment_results/*.zip
scripts/robustness/data/paraphrased_*
scripts/robustness/data/humaneval*
scripts/experiment_variants/starting_tokens_gen/**
output/*_exp*_*
.env
output/analyzed/**


trash/**
experiment_variants/bigram_analysis/
experiment_variants/bigram_analysis/**
data/**
datasets/actual_files_humaneval/**
output/metrics_wm0_analysis/**
output/metrics_sample_strings_analysis/**
scripts/robustness/data/paraphrased_**/**
scripts/robustness/data/original_codes/**
output/Rest_of_exp_results/**
output/rest_of_exp_results/**
src/prompt_optimization/**
PROMPT_OPTIMIZATION_PLAN.md
docs/**

scripts/robustness/data/original_codes/**
codebleu_command.txt
examples/**

.secrets.baseline